/* Styling for phones */

/* Styling for medium tablets */
@media screen and (min-width: 520px) {
    .filter-options {
        padding-top: 0px;
    }

    .filter-options h2 {
        display: inline;
    }
}

/* Styling for large tablets */
@media screen and (min-width: 768px) {
    #restaurant-img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* Syling for desktops */
@media screen and (min-width: 992px) {
    body,
    main,
    header,
    footer,
    .nav,
    .container {
      width: 992px;
      margin-left: auto;
      margin-right: auto;
    }

    #restaurants-list li {
        width: 370px;
      }

}